<head>
  <meta charset="UTF-8">
  <title><%= localmeta.ttl %>Title</title>
  <meta name="description" content="#description#">
  <meta property="og:description" content="#description#">
  <meta name="keywords" content="#keyword#">
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="googlebot" content="INDEX,FOLLOW,ARCHIVE" />
  <meta property="og:title" content="#Title#">
  <meta property="og:url" content="#URL#">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="#Title#">
  <meta property="og:image" content="<%= localmeta.rel_path %>img/og-image.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- font -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">

  <!-- css -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="<%= localmeta.rel_path %>css/style.css">

  <!-- js -->
  <script src="https://unpkg.com/swiper/swiper-bundle.js" defer></script>
  <script src="<%= localmeta.rel_path %>js/common.js" defer></script>

  <link rel="shortcut icon" href="<%= localmeta.rel_path %>img/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="icon" href="<%= localmeta.rel_path %>img/favicon.ico" type="image/vnd.microsoft.icon">
</head>